@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenido a mi aplicación ASP.NET Core MVC :D</h1>

<p>Esta es la página de inicio. ¡Espero que disfrutes explorando! y aguante kevin kaarl</p>
 
@* ruta: https://localhost:44321/HelloWorld/Index  *@